@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
}

#slider {
   position: relative;
   height: inherit;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #CDCECF;
}

.wrapper {
   position: relative;
   top: 10%;
   width: 100%;
   height: 100%;
   overflow: hidden;

}

#slider i {
   position: absolute;
   top: 4%;
   left: 13%;
   transform: translateY(-50%);
   height: 30px;
   width: 30px;
   cursor: pointer;
   text-align: center;
   line-height: 30px;
   background: #BBBCBD;
   border-radius: 50%;
}

#slider i:first-child {
   left: 10%;
   /* display: none; */
}

#slider i:last-child {
   left: 8%;
}

.wrapper .carousel {
   font-size: 0px;
   cursor: pointer;
   overflow: hidden;
   white-space: nowrap;
   scroll-behavior: smooth;
   /* background-color: rgba(0, 0, 0, 0.305); */

}

.carousel.dragging {
   cursor: grab;
   scroll-behavior: auto;
}

.carousel.dragging .imgContainer {
   pointer-events: none;
}

.carousel .imgContainer {
   display: inline-block;
   margin-left: 50px;
   height: 35vw;
   object-fit: cover;
   width: 40vw;
   background-color: #fff;
}

.carousel .imgContainer img {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-left: 14px;
   height: 30%;
   width: 25%;
   /* object-fit: cover; */
   user-select: none;
}

.carousel .imgContainer:first-child {
   margin-left: 10vw;
}

@media screen and (max-width:900px) {
   .carousel .imgContainer {
      width: calc(100% / 2);

   }

}

@media screen and (max-width:550px) {
   .carousel .imgContainer {
      width: 100%;

   }

}